// BREAKPOINTS CATEGORY
$tiny: "tiny";
$small: "small";
$medium: "medium";
$large: "large";
$mega: "mega";

// NOTE: em values below assume the default browser font-size of 16px (1em = 16px).
$breakpoints: (
  $tiny: 30em,
  // 30em = 480px
  $small: 37.5em,
  // 37.5em = 600px
  $medium: 50em,
  // 50em = 800px
  $large: 75em,
  // 75em = 1200px
  $mega: 93.75em, // 93.75em = 1500px
);

// SNACK BAR COLORS
$info: "info";
$warning: "warning";
$error: "error";
$success: "success";

$snackBarColors: (
  $info: #5e68ce,
  $warning: #c6ef40,
  $error: #ef3434,
  $success: #044904,
);
