<nav class="grow flex flex-col gap-y-2">
  <header class="pl-2 h-12.5 flex items-center gap-x-2 border-b">
    <h1 class="text-xl uppercase">{{ projectTitle }}</h1>
  </header>
  <ul class="grow flex flex-col gap-y-2">
    <li>
      <a
        class="p-2 rounded-none hover:bg-gray-500 focus:outline-indigo-300 w-full flex items-center gap-x-2"
        routerLink="/secure/dashboard"
        routerLinkActive="bg-gray-400"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon
          svgIcon="dashboard"
          aria-hidden="false"
          aria-label="Dashboard SVG icon"
        />
        Dashboard
      </a>
    </li>
    <li>
      <a
        class="p-2 rounded-none hover:bg-gray-500 focus:outline-indigo-300 w-full flex items-center gap-x-2"
        routerLink="/secure/project-details"
        routerLinkActive="bg-gray-400"
      >
        <mat-icon
          svgIcon="details"
          aria-hidden="false"
          aria-label="Details Project SVG icon"
        />
        Project Details
      </a>
    </li>
    <li>
      <a
        class="p-2 rounded-none hover:bg-gray-500 focus:outline-indigo-300 w-full flex items-center gap-x-2"
        routerLink="/secure/note"
        routerLinkActive="bg-gray-400"
      >
        <mat-icon
          svgIcon="notes"
          aria-hidden="false"
          aria-label="Notes SVG icon"
        />
        Note
      </a>
    </li>
  </ul>
  <mat-icon
    svgIcon="logo"
    class="h-20! w-20! mx-auto mb-3"
    aria-hidden="false"
    aria-label="Logo icon"
  />
</nav>
